@model IEnumerable<MVCEventScheduler.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center jumbotron bg-info text-white">Users</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Display", "Display")
</p>
<table class="table bg-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            Attendances
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @{
                    foreach (var attendance in item.Attendances)
                    {
                        @attendance.Event.EventName @: - @attendance.Status <br />
                    }
                }
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

