
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Index</title>
    @Styles.Render("~/Content/NewEvent.css")
</head>
<body>
    <h2>Confirm Public Event</h2>

    <p>The following Public event has been added to the system</p>
    <p>Event Name: @Model.EventName</p>
    <p>Event Type: @Model.EventType</p>
    <p>Event Host: @Model.EventHost</p>
    <p>Email: @Model.Email</p>
    <p>Id: @Model.Id</p>
    <p>Public: @Model.IsPublic</p>
    <img src="~/Content/Unlocked.jfif" style="width:100px;" />
</body>
</html>